/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    box-sizing: border-box;
    margin:2%;
    height:100vh;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Myriad Pro', Myriad, helvetica, arial, sans-serif;
}
p{
    font-family: 'Myriad Pro', Myriad, helvetica, arial, sans-serif;
    font-size:17px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET ABOVE*/

/*NAV*/
.navbar{
    display:flex;
    justify-content: space-around;
    padding:10px;
    background-color:rgb(149, 157, 86);
    font-family: 'Myriad Pro', Myriad, helvetica, arial, sans-serif;
    overflow:hidden;
    position:fixed;
    top:0;
    width:94%;
}
.navbar a{
    text-decoration: none;
    color:black;
    /* float:left;
    display:block;
    text-align:center;
    padding:14px 16px; */
}
/*credit for nav bar animations: EvyatarDa(C)*/
div.navbar a{
    color: black;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer; 
}
div.brackets a:before, div.brackets a:after{
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
}
div.brackets a:before{
    content: '(';
    left: 0px;
    transform: translateX(10px);
}
div.brackets a:after{
    content: ')';
    right: 0px;
    transform: translateX(-10px);
}
div.brackets a:hover:before, div.brackets a:hover:after{
    opacity: 1;
    transform: translateX(0px);
}

/*LOGO SECTION*/
.SFC-logo{
    display:flex;
    justify-content: center;
    padding-top:60px;
}
/*BODY-MAIN SECTION*/
main{
    border:1px solid red;
    padding:5px;
}
h2, p{
    border:1px solid red;
    padding:5px;
}
h2{
    background-color:rgb(149, 157, 86);
    display:flex;
    justify-content: center;
    color:black;
}

.img-box{
    display:flex;
    align-items:center;
    justify-content: center;
    border:1px solid red;
}
.img-box img{
    width:100%;
    height:auto;
    border-radius:10px;
}
.Middle{
    display:flex;
}
.m-Research{
    border:1px solid black;
    display:flex;
    flex-direction:column;
}
.m-Research p, .m-Things p{
    padding:20px;
}
.m-Things{
    border:1px solid black;
    display:flex;
    flex-direction:column;
}

/*BUTTONs*/
button{
    background-color:rgb(149, 157, 86);
    cursor: pointer;
    outline:none;
    color:black;
    font-weight:bold;
    border:none;
    border-radius:5px;
    width:150px;
    height:35px;
}
button:hover{
    background-color:black;
    color:rgb(149, 157, 86);
    font-weight:bold;
}
button:active{
    background-color:black;
    box-shadow:0 5px rgb(149, 157, 86);
    transform: translateY(4px);
}

/*FOOTER*/
footer{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:25px;
    background-color:rgb(149, 157, 86);
    font-family: 'Myriad Pro', Myriad, helvetica, arial, sans-serif;
    font-size:13px;
    letter-spacing:0.2em;
    line-height:14px;
}
footer p, div{
    padding:20px;
}